body {
    margin: 0;
    background-color: rgb(65, 65, 65);
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 960px;
    margin: 0 auto;
}

/* Navigation */
#company-name {
    display: flex;
    align-items: center;
}

#company-name p {
    margin-left: 2%;
    font-size: 28px;
    font-weight: bold;
    text-wrap: nowrap;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 109, 211);
}

nav img {
    height: 80px;
}
nav a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(247, 255, 247);
}

nav ul {
    display: inherit;
    justify-content: end;
    align-items: center;
    list-style: none;
}

nav li {
    display: inherit;
    justify-content: center;
}

nav li a {
    display: block;
    width: 118px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    white-space: nowrap;
}

nav li a:hover {
    background-color: rgb(30, 84, 160);
}

/* Dropdown */
.submenu {
    display: none; /* Hidden by default */
    position: absolute;
    margin-top: 4.2%;
    z-index: 1; /* Appear above other items */
}

nav li:hover .submenu {
    display: block; /* Show dropowns */
}

.submenu a {
    height: 45px;
    width: 115px;
    line-height: 40px;
    border: 1px solid white;
    background-color: rgb(38, 109, 211);
}

/* Home */
#banner {
    padding: 2% 0;
    display: flex;
    justify-content: center;
}

#banner img {
    width: 85%;
    border-radius: 4%;
}

/* Footer */
footer {
    border-top: 1px solid white;
    margin-top: 2%;
    padding-top: 1%;
    text-align: center;
    color: rgb(150, 150, 150);
}

/* Main */
main {
    margin-top: 2%;
    border-top: 1px solid white;
}

main h2 {
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

main p { /* For all regular text */
    width: 95%;
    margin-left: 2%;
    font-size: 22px;
    line-height: 40px;
}

i {
    text-decoration: underline; 
    color: rgb(26, 26, 26);
}

h2, h3, #sources, label { /* Grouped to add an accent colour */
    color: rgb(240, 108, 0);
}

#sources { /* For all external content */
    margin: 0;
    text-align: right;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

/* Team members */
.team {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.team li {
    margin: 2.5% 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.team img {
    height: 240px;
    width: 240px;
    margin-right: 5%;
    padding-left: 1%;
    border-left: 4px solid black; /* Vertical bar to act as bullet point */
}

.team-info {
    display: inherit;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.team-info h3 {
    margin: 0;
    font-size: 24px;
}

.team-info h4 {
    margin: .5% 0;
    font-size: 14px;
}

.team-info p {
    font-size: 12x;
}

/* Product table */
#product-table {
    margin: 0 auto;
    min-width: 300px;
    min-height: 200px;
    font-size: 22px;
    border: 2px solid white;
    border-collapse: collapse;
}

#product-table th, #product-table td {
    width: 280px;
    padding: 2%;
    border: 2px solid white;
}

#product-table th {
    background-color: rgb(38, 109, 211);
}

#product-table td {
    background-color: rgb(56, 56, 56);
}

/* Gallery */
#gallery-img {
    max-width: 100%;
    margin: 1% 0;
}

/* Review */
#review {
    font-style: italic;
    margin-bottom: 0;
}

/* News */
#date {
    color: black;
    font-style: italic;
}

/* Contact */
form {
    margin: auto 4%;
    display: flex;
    align-items: center;
}

#personal-info, #textbox {
    width: 50%;
    display: inherit;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input, textarea {
    margin: 1% 4%;
    font-size: 16px;
}

input[type=text], input[type=email] {
    width: 50%;
    padding: 1% 1%;
}

textarea {
    width: 80%;
}

input[type=submit] {
    width: 40%;
    padding: 2% 0;
    font-weight: 600;
    letter-spacing: 1px;
    border: 0;
    background-color: rgb(240, 108, 0);
}

input[type=submit]:hover {
    background-color: rgb(204, 92, 0);
}

/* Location */
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address img {
    height: 450px;
    max-width: 400px;
}

.address p {
    width: fit-content;
    padding: 0 4%;
    margin: 1% 0;
    text-align: center;
    border-bottom: 1px dashed white;
}